<h1 class="page-header">Clientes</h1>
  <div class="row" style="padding-left:1.1em">
     <select ng-options="v for v in clienteListarTransporteCtrl.filters"
      ng-model="selectedFiltro" style='width:59%'>
       <option value="">Selecciona un criterio de ordenación</option>
     </select>
     <button class="btn btn-primary" ng-click="clienteListarTransporteCtrl.seleccionarFiltro(selectedFiltro)" >Ordenar</button>
    </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Puntaje</th>
          <th>Cantidad de servicios</th>
        </tr>
      </thead>
      <tbody ng-if="!clienteListarTransporteCtrl.loading">
        <tr ng-repeat="elem in clienteListarTransporteCtrl.lista">
          <td width="25%">{{elem.cliente.usuarioCorreo}}</td>
          <td width="25%">{{elem.cliente.usuarioNombre}}</td>
          <td width="25%">{{elem.cliente.usuarioApellido}}</td>
          <td width="10%">{{elem.cliente.usuarioPromedioPuntaje}}</td>
          <td width="10%">{{elem.cantServicios}}</td>
        </tr>
        </tr>
      </tbody>
    </table>
  </div>

  <canvas ng-if ="!clienteListarTransporteCtrl.loading" id="bar" class="chart chart-bar"
  chart-data="clienteListarTransporteCtrl.data" chart-labels="clienteListarTransporteCtrl.labels" chart-series="clienteListarTransporteCtrl.series" chart-options="{scaleBeginAtZero:true}" style="margin-top:5em;">
</canvas>