<h1 class="page-header">Ganancia mensual por servicios</h1>
<canvas id="line" class="chart chart-line" chart-data="gananciamensualTransporteCtrl.data" chart-labels="gananciamensualTransporteCtrl.labels" chart-series="gananciamensualTransporteCtrl.series" style="margin-top:1em;">
</canvas>

<canvas id="bar" class="chart chart-bar"
  chart-data="gananciamensualTransporteCtrl.data" chart-labels="gananciamensualTransporteCtrl.labels" chart-series="gananciamensualTransporteCtrl.series" style="margin-top:5em;">
</canvas>