<div class="modal-demo">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">El administrador se ha editado con éxito</h3>
        </div>
        <div class="modal-body" id="modal-body">
             <div class ="row"><b>&nbsp Email: </b>{{ ctrlmodaleditadmin.email }}</div>
             <div class="row"><b>&nbsp Nombre: </b>{{ ctrlmodaleditadmin.nombre }}</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ctrlmodaleditadmin.ok()">Aceptar</button>
        </div>
</div>