<h1 class="page-header">Agregar nuevos servicios (vertical otra)</h1>

<form>
  <div class="form-group">
    <label for="inputNombre">Nombre</label>
    <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese un nombre">
  </div>
  <div class="form-group">
    <label for="inputPrecioPorHora">Precio por hora</label>
    <input type="number" class="form-control" id="inputPrecioPorHora" placeholder="Ingrese precio por hora">
  </div>
  <div class="form-group">
    <label for="inputTarifaBase">Tarifa base</label>
    <input type="number" class="form-control" id="inputPrecioPorHora" placeholder="Ingrese una tarifa base">
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>