          <h1 class="page-header">Servicios</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Tipo servicio</th>
                  <th>Nombre proveedor</th>
                  <th>Apellido proveedor</th>
                  <th>Puntaje</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Plomería</td>
                  <td>Jorge</td>
                  <td>Rodriguez</td>
                  <td>4.5</td>
                  <td><button class="btn btn-info" ui-sref="dashboard.servicio" data-toggle="modal" data-target="#myModal">Editar</button></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Carpintería</td>
                  <td>Walter</td>
                  <td>White</td>
                  <td>3.7</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Mecánico</td>
                  <td>Pablo</td>
                  <td>Escobar</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Auto</td>
                  <td>Choferelio</td>
                  <td>McChofer</td>
                  <td>4.7</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Limusina</td>
                  <td>Limon</td>
                  <td>Limonez</td>
                  <td>4.1</td>
                </tr>
              </tbody>
            </table>
          </div>