<h1 class="page-header">Servicios</h1>
          <div class="table-responsive" ng-controller="ServiciolistCtrl">
          <button class="btn btn-info" ng-click="boton()">Crear a pocho la pantera</button>
          <button class="btn btn-success" ng-click="botonVer()">Ver si está pocho la pantera</button>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre servicio</th>
                  <th>Precio por hora</th>
                  <th>Tarifa base</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="elem in lista">
                  <td>{{elem.ServicioId}}</td>
                  <td>{{elem.ServicioNombre}}</td>
                  <td>{{elem.ServicioPrecioHora}}</td>
                  <td>{{elem.ServicioTarifaBase}}</td>
                </tr>
              </tbody>
            </table>
          </div>